html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    background-image: url("../images/currency.jpeg");
    background-position: center;
    overflow: auto;
}

.header {
    text-align: center;
}

